<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">
            <div class="row" style="margin-top:200px">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="rounded-2">
                                <a asp-action="ListLicence" asp-controller="Licence" class="btn btn-secondary">
                                   Lisanaları Listele
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style=" margin:20px">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="rounded-2">
                                <a asp-action="CreateLicence" asp-controller="Licence" class="btn bg-light">
                                    Lisans Ekle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="rounded-2">
                                <a asp-action="CreateProduct" asp-controller="Product" class="btn btn-dark">
                                    Ürün Ekle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>