<div class="list-items" id="myDIV">
    <div class="rounded-2  firstDIV">
        <a asp-action="CreateCustomer" asp-controller="Customer" class="list-group-item list-group-item-action">
           Müşteri Ekle
        </a>
    </div>
    <div class="rounded-2">
        <a asp-action="DetailCustomer" asp-controller="Customer" class="list-group-item list-group-item-action">
           Müşteri Getir
        </a>
    </div>
    <div class="rounded-2">
        <a asp-action="ListCustomers" asp-controller="Customer" class="list-group-item list-group-item-action ">
            Müşterileri Listele
        </a>
    </div>
 
</div>
