<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B7C1C3;">
      <div class="container d-flex justify-content-between">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">TWY</a>
           
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse  justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-item nav-link text-light" asp-action="Index" asp-controller="Customer">Müşteriler</a>
                    <a class="nav-item nav-link text-light " asp-action="Index" asp-controller="Licence">Lisanlar</a>
                    <a class="nav-item nav-link text-light" asp-action="Index" asp-controller="Product">Ürünler</a>
                    
              </div>
          </div>
           
     </div>
    </nav>
</header>
