
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 ">
        <main role="main" class="pb-3">
            <div class="container    w-100 mh-100 " style="height: 36rem; margin-top:20px;">
                <div class="card text-center">
                    <div class="card-header bg-danger">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        2 days ago
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>
 

