
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">
            <div class="row" style="margin-top:200px">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Ürünleri Listele</h5>
                            <p class="card-text">Kayıtlı ürünlerin listesini görüntülemek için butona tıklayınız.</p>
                            <div class="rounded-2">
                                <a asp-action="ListProduct" asp-controller="Product" class="btn btn-secondary">
                                    Ürünleri Listele
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style=" margin:20px">
                            <h5 class="card-title">Ürün ekle</h5>
                            <p class="card-text">Yeni ürün eklemek için butona tıklayınız.</p>
                            <div class="rounded-2">
                                
                                <a asp-action="CreateProduct" asp-controller="Product" class="btn btn-dark">
                                    Ürün Ekle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Ürün Excel Dosyası</h5>
                            <p class="card-text">Kayıtl ürünlerin listesini excel dosyası olarak inidirip görüntülemek için butona tıklayınız.</p>
                            <div class="rounded-2">
                                <a asp-action="ExportProductInExcel" asp-controller="Product" class="btn bg-light">
                                    İndir
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>