@model List<VM_List_Product>
<div class="row">
    <div class="col-md-2">
       
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">

            <div class="container border rounded-1 p-2 m-4 w-100 mh-100 MyContainer" style="height: 35rem;">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <div class="container  DivWithScroll" style="margin:40px;">
                            <table class="table w-75 ">
                                <thead>
                                    <tr>
                                        <th scope="col">Ürün Adı</th>
                                        <th scope="col">Aksiyon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var product in @Model)
                                        {
                                            <tr>
                                                <td>@product.productName</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.ID" class="btn BtnDuzenle btn-sm">Düzenle</a>
                                                        <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.ID" class="btn BtnSil btn-sm">Sil</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>