@model VM_Create_Product

<div class="row">
    <div class="col-md-2">
        <partial name="~/Views/Customer/partial/kategori.cshtml" />
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">
            
        </main>
    </div>
    <div class="col-md-2"></div>
</div>