

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">
            <div class="row" style="margin-top:200px">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Müşteriler</h5>
                            <p class="card-text">Kayıtlı müşteriler listesini görüntülemek için butona tıklayınız.
                            </p>
                            <div class="rounded-2">
                                <a asp-action="ListCustomers" asp-controller="Customer" class="btn btn-secondary">
                                    Müşterileri Listele
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style=" margin:20px">
                            <h5 class="card-title">Müşteri Ekle</h5>
                            <p class="card-text">Yeni müşteri kaydetmek için butona tıklayınız..</p>
                            <div class="rounded-2">
                                <a asp-action="CreateCustomer" asp-controller="Customer" class="btn bg-light">
                                    Müşteri Ekle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="margin:20px">
                            <h5 class="card-title">Müşteri Exel Dosyası</h5>
                            <p class="card-text">Kayıtlı müşteriler listesini excel dosyası olarak inidirip görüntülemek için butona tıklayınız.</p>
                            <div class="rounded-2">
                                <a asp-action="ExportCustomersInExcel" asp-controller="Customer" class="btn btn-dark">
                                    İndir
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>